doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Settings - Student Result Management System
    link(rel="stylesheet" href="/css/styles.css")

  body
    header#header
      h1 Student Result Management System

    nav#nav
      ul
        li: a(href="/index") Home
        li: a(href="/results") Results
        li: a(href="/settings") Settings
        li: a(href="/register") Register
        li: a(href="/login") Login
        li: a(href="/update_marks") Update Marks


    main#main-content
      section#settings.section
        h2 Settings
        p Configure system settings here.

    footer#footer
      p &copy; 2024 Student Result Management System. All rights reserved.
